<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Dados da conexão -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nome_do_banco</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">sua_senha</property>

        <!-- Dialeto do banco -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Mostra os SQLs no console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Cuidado com este comando -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Classes mapeadas -->
        <mapping class="br.com.seuprojeto.domain.Usuario"/>

    </session-factory>
</hibernate-configuration>
